.products-list {
    display: flex;
    justify-content: flex-start;
}

.products-list > .card {
    margin-right: 15px;
}

.images-list {
    display: flex;
    justify-content: flex-start;
}

.images-list > .card {
    margin-right: 15px;
}
