{% extends "base.html" %}

{% block content %}
    <h1>Unique Cat every Day</h1>
    Try <a href="/cats/catoftheday.jpg">Cat of the Day</a> to get random cat
    <br>

    Try <a href="/cats/custom">Custom Picture</a> to get custom picture and text
    <br>

    Try <a href="/cats/upload">to upload your image</a>
    <br>
    

    <img src="/cats/catoftheday.jpg" 
        alt="catoftheday" 
        style="max-height: 90vh; 
                margin: auto; 
                display: flex"></img>'
{% endblock %}