{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <form method="POST" action="{% url 'category_page' slug=category.slug %}">
            {% csrf_token %}
            <div class="mb-3">
                <select class="form-select" aria-label="Default select example" name="sort_option">
                    <option selected>Not sort</option>
                    <option value="price descending">price descending</option>
                    <option value="price ascending">price ascending</option>
                    <option value="creation date descending">creation date descending</option>
                    <option value="creation date ascending">creation date ascending</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Apply</button>
        </form>

        <h1 class="text-center">{{ category.title }}</h1>
        <div class="products-list">
            {% for product in products %}
                {% include "elements/card.html" %}
            {% endfor %}
        </div>

    </div>

{% endblock %}