<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="HTML5">
  <meta name="author" content="Author">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Memory statistics</title>
  <link rel="stylesheet" href="/assets/style.css">
  <!-- <link rel="icon" href="./favicon.ico" type="image/x-icon"> -->
</head>
<body>
  <h1>Memory Stats:</h1>
  <span>Available memory: MEM_FREE / MEM_TOTAL MiB</span>
  <div class="pbar" id="mem">
    <!-- use js to fill it on client-side -->
  </div> 
  <script src="/assets/script.js"></script>
</body>
</html>