<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="HTML5">
    <meta name="author" content="Author">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
    <title>{{ title }}</title>
</head>

<body>
    <h1><a href="/">Cat Of The Day</a></h1>
    {% block content %}{% endblock %}
</body>
</html>