{% extends "base.html" %}

{% block content %}
    <span>{{ '{:.2f}'.format(mem['free'] / (1024 ** 2)) }} / {{ '%.2f' | format(mem['total'] / (1024 ** 2)) }} MiB</span>
    <br><br>

    <div class="pbar" id="gauge" style="box-shadow: black 0px 0px 5px; display: block;">
        <div class="bar" style="background-color: rgb(72, 239, 82);
                                transform: translate({{ mem['percent'] }}%);">
            <div class="data" style="display: flex;
                                    justify-content: center;
                                    position: absolute;
                                    right: 0;
                                    width: {{ mem['percent'] }}%;">
                {{ mem['percent'] }}%
            </div>
        </div>
    </div>

    <script src="{{ url_for('assets.static', filename='script.js') }}"></script>
{% endblock %}